<div class="container-fluid m-5 p-5">
    <div class="row">
        <!-- <h2 class="fw-bold text-center"style='color: rgb(255, 128, 0);'>My Courses</h2> -->
        <div class="col-lg-4 col-md-6 col-sm-8 mx-auto"><br>
            <div class=" mx-auto shadow" id='shadow'>
                <!-- <p class="display-4 text-center "style='color: rgb(255, 128, 0);'>LMS</p> -->
                <p class="h2 text-center" style='color: rgb(255, 128, 0);'>Create Resources</p>
                <form class="form-group p-3" >
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Type</mat-label>
                        <mat-select name="type" [(ngModel)]="type">
                            <mat-option value="video">Video</mat-option>
                            <mat-option value="pdf">PDF</mat-option>
                            <mat-option value="image">Image</mat-option>
                        </mat-select>
                    </mat-form-field>
                      

                    <input placeholder="Name" type="text" name="name" id='inp' [(ngModel)]="name"
                        class='w-full rounded p-1 my-2 border outline-none form-control'><br>
                        <div class="w-100">
                            <ng-select
                                [(ngModel)]="course_id"
                                bindLabel="Select course"
                                bindValue="course_id"
                                placeholder="Select course"
                                name="course_id">
                            </ng-select>
                        </div>
                    <form enctype="multipart/form-data">
                        <input (change)="onFileChange($event)" class='mb-3 form-control' type="file" id="inp"
                            name="file">
                    </form>
                    <!-- <p class="text-danger text-center">{{incorrect}}</p> -->
                    <br>
                    <button class="btn mx-3" id="btn"(click)="createResources()">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>