<div class="row mt-5 p-3"><br>
    <button class="btn" id="btn" routerLink="/createCourses">Add Courses</button>
    <div class='card d-flex m-3 p-3' style="width: 15rem;" *ngFor="let course of courses let id = index ;">
        <span class="position-absolute top-0 start-100 translate-middle p-2 border border-light rounded-circle"
            id="btn">{{course.status}}
        </span>
        <!-- <video [src]="path+course.file" controls></video> -->
        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold h5">Title: {{course.title}}</li>
            <li class="list-group-item fw-bold h5">Description: {{course.desc}}</li>
        </ul>

        <div class="d-flex">
            <img src="/assets/img/pen-solid.svg" class="hover:'/addresources'" alt="" id="icon"routerLink="resources/{{course.course_id}}">

            <!-- <img src="/assets/img/book-open-solid.svg" alt=""*ngIf="course.status == 'free'" id="icon" routerLink="getResources/{{course.course_id}}"> -->
            <button *ngIf="course.status == 'free'" id='extra-btn'>
                <img src="/assets/img/book-open-solid.svg" alt="" id="icon" routerLink="getResources/{{course.course_id}}">
            </button>


            <!-- <img src="/assets/img/book-open-solid.svg" alt=""id="icon"
            routerLink="/payment"
            > -->
            <!-- <button >View -->
            <button *ngIf="course.status == 'paid'"routerLink="/payment">
                <angular4-paystack email={{course.email}}{{course.amount}} ref="reference"[channels]="['bank']"class='btn text-white'(onClose)="paymentCancel()"(callback)="paymentDone($event)"id='btn'>View</angular4-paystack>
            </button>
        </div>

        <!-- <button routerLink="/home">View all Course</button> -->

    </div>
</div>