<div class="row mt-5 p-3"><br>
    <button class="btn" id="btn" routerLink="/createCourses">Add Courses</button>
    <div class='d-flex card m-3 p-3 shadow' style="width: 15rem;" *ngFor="let course of courses let id = index ;">
        <div>
            <span class="position-absolute top-0 start-100 translate-middle p-1 border border-light rounded-circle"
                id="btn">{{course.status}} {{course.amount}}
            </span>
            <!-- <video [src]="path+course.file" controls></video> -->
            <ul class="list-group list-group-flush">
                <li class="list-group-item fw-bold h5">Title: {{course.title}}</li>
                <li class="list-group-item fw-bold h5">Description: {{course.desc}}</li>
                <li class="list-group-item fw-bold h5">Description: {{course.course_id}}</li>
            </ul>
        </div>


        <div class="d-flex mx-auto m-3">
            <!-- <img src="/assets/img/pen-solid.svg" class="hover:'/addresources'" alt="" id="icon"
                -->

            <i class="material-icons mx-3" routerLink="resources/{{course.course_id}}" style='cursor:pointer'>add</i>

            <i *ngIf="course.status == 'free'" class="large material-icons mx-3"  routerLink="getResources/{{course.course_id}}" style='cursor:pointer'>visibility</i>

            <i *ngIf="course.status == 'paid'" class="large material-icons mx-3"  routerLink="getResources/{{course.course_id}}" style='cursor:pointer'>visibility</i>

            <!-- <input type="text" placeholder="View Payment History" class="btn" name="course_id" [(ngModel)]="course_id"(click)="paymentHistory()"> -->
            <button (click)="paymentHistory(course.course_id)"routerLink="payment/{{course.course_id}}">View Payment History</button>
            <!-- <button >View Payment History</button> -->
        </div>
    </div>
</div>