#shadow{
    border-right: 2px solid rgb(255, 128, 0);
    border-left: 2px solid rgb(255, 128, 0);
}
#details{
    font-size: 30px;
}
#updiv{
    background-color: rgb(255, 128, 0);
    /* width: 40%;
    height: 13vh; */
    height: 100%;
}
#downdiv{
    background-color:rgb(228, 222, 222);
    /* width: 40%;
    height: 30vh; */
}