/* #inp{
    border-bottom:thin solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 80%;
} */
#inp{
    border-radius: 0;
    border: 0;
    box-shadow:4px 3px 3px rgb(255, 128, 0);
    height: 8vh;
}
#btn{
    background-color: rgb(255, 128, 0);
    color:white;
}
#shadow{
    box-shadow:4px 3px 3px rgb(255, 128, 0);
}