<div class="container-fluid m-5 p-5">
    <div class="row">
        <!-- <h2 class="fw-bold text-center" style='color: rgb(255, 128, 0);'>My Courses</h2> -->
        <p class="h2 text-center" style='color: rgb(255, 128, 0);'>Create Courses</p>
        <div class="col-lg-4 col-md-6 col-sm-8 mx-auto"><br>
            <div class=" mx-auto shadow" id='shadow'>
                <!-- <p class="display-4 text-center "style='color: rgb(255, 128, 0);'>LMS</p> -->
                <form class="form-group p-3" [formGroup]="userForm" (ngSubmit)="create()" enctype='multipart/form-data'>
                    <input placeholder="Title" type="text" name="title" id='inp' formControlName="title"
                        class='w-full rounded p-1 my-2 border outline-none form-control'><br>

                    <input placeholder="Description" type="text" id='inp' name="desc" formControlName="desc"
                        class='w-full rounded p-1 my-2 border outline-none form-control'><br>

                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Course Status</mat-label>
                        <mat-select name="status" formControlName="status">
                            <mat-option value="free">Free</mat-option>
                            <mat-option value="paid">Paid</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <input placeholder="Amount if The Course is Paid" type="number" id='inp' name="amount" formControlName="amount" class='w-full rounded p-1 my-2 border outline-none form-control' ><br>
                    <br>
                    {{incorrect}}
                    <button class="btn mx-3" id="btn">Create</button>
                    <button class="btn" id="btn" routerLink="/resources">View Courses</button>
                </form>
            </div>
        </div>
    </div>
</div>