<div class="container m-2 p-2">
<div class="row p-5"><br>
    <button class="btn" id="btn" routerLink="/resources"> Check Courses</button>
    <button class="btn" id="btn" routerLink="/allcourse"> Check All Courses</button>

    <div class="shadow mx-auto col-4 d-flex">
        <h3 class="display-4  text-center" routerLink="/resources">{{message}}
        </h3>
    </div>
    <div>
        
    </div>
    <div *ngIf="resources.length != 0"class='row'>
        <div class='card d-flex m-3 p-3' style="width: 15rem;" *ngFor="let res of resources;">
            <!-- <li class="list-group-item fw-bold h3"> {{res.title}}</li> -->
            <span *ngIf="res.type == 'video'">
                <video [src]='path+res.file' controls></video>
            </span>
            <span *ngIf="res.type == 'image'">
                <img [src]="path+res.file" alt="">
            </span>
            <span *ngIf="res.type == 'pdf'">
                <!-- <img [src]="path+res.file" alt=""> -->
                <a [href]="path+res.file" download target="_blank">
                    <i class="material-icons mx-3" style='cursor:pointer;font-size: 8em;color:rgb(216, 12, 12);'>picture_as_pdf</i>
                    <!-- <mat-icon style="font-size:20em;color:red;">picture_as_pdf</mat-icon> -->
                </a>
            </span>
            <!-- <span *ngIf="res.type == 'pdf'">
                <pdf-viewer [src]="path+res.file"[render-text]="true"[original-size]="false"style="width: 400px; height: 500px"></pdf-viewer>
                <a [href]="path+res.file"option='download'></a>
            </span> -->
            <ul class="list-group list-group-flush">
                <li class="list-group-item fw-bold h6"> {{res.name}}</li>
            </ul>


        </div>
    </div>
</div>    
</div>